/*****************************************************************
Common styles
*****************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 3%;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin: 0 20px 30px 20px;
}

h3 {
    font-weight: 300;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

h2:after {
    display: block;
    background-color: #7EE1FF;
    height: 2px;
    content: " ";
    width: 150px;
    margin: 30px auto 0 auto;
}

section {
    padding: 100px 0;
    clear: both;
}

.float-clearing {
    zoom: 1;
}

.float-clearing:after {
    zoom: 1;
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*****************************************************************
Header styles
*****************************************************************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 241, 0.45)), url("../images/header-background.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#logo-image {
    height: 57px;
    width: auto;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}

#logo-text {
    float: left;
    padding: 20px;
}

#main-ul-nav {
    float: right;
    list-style: none;
    padding: 20px;
}

#main-ul-nav li {
    display: inline;
    margin-right: 50px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: opacity 0.5s, border 0.5s;
}

#main-ul-nav li:hover,
#main-ul-nav li:active {
    opacity: 1;
}

#logo-text a {
    letter-spacing: 5px;
    text-decoration: none;
}

#sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7EE1FF;
    z-index: 999;
    box-shadow: 0 2px 2px #d6baba;
}

#sticky-nav #main-ul-nav ul li {
    text-decoration: none;
    display: inline;
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: opacity 0.5s, border 0.5s;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0;
}

#sticky-nav #main-ul-nav li:hover,
#sticky-nav #main-ul-nav li:active {
    opacity: 1;
    border-bottom: 2px solid #0000F1;
}


#main-ul-nav li a,
#logo-text a {
    text-decoration: none;
    color: #7EE1FF;
    text-transform: uppercase;
}

#sticky-nav #main-ul-nav li a,
#sticky-nav #logo-text a {
    text-decoration: none;
    color: #0000F1;
    text-transform: uppercase;
}

.header-text {
    padding-top: 150px;
}

#header-title {
    color: #7EE1FF;
    margin-left: 8.33%;
    max-width: 60%;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 3vw;
    line-height: 5vw;
    font-weight: 400;
    font-style: normal;
}

.header-buttons {
    margin-top: 20px;
    margin-left: 8.33%;
    padding: 15px;
}

nav {
    height: 63px;
}

.mobile-nav-icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px 10px;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #7EE1FF;

}

#sticky-nav ion-icon {
    position: fixed;
    top: 0;
    right: 0;
    color: #0000F1;
    margin-right: 10px;
    margin-top: 10px;

}

/*****************************************************************
Button styles
*****************************************************************/

.button:link,
.button:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #7EE1FF;
    font-weight: 300;
    border-radius: 150px;
    transition: background-color 0.3s, border 0.3s;
}

.button-order:link,
.button-order:visited,
input[type=submit] {
    background: #0000F1;
    border: 1px solid #0000F1;
}

.button-menu:link,
.button-menu:visited {
    border: 1px solid #7EE1FF;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
    background: #0000BE;
    border: 1px solid #0000F1;
}

/*****************************************************************
Features styles
*****************************************************************/

#headline-text {
    text-align: center;
    font-size: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#restaurant-description ion-icon {
    font-size: 300%;
    color: #7EE1FF;
    margin-bottom: 20px;
}

section p,
#contact-form {
    font-size: 80%;
}

/*****************************************************************
Food images styles
*****************************************************************/


.images-container {
    list-style: none;
    width: 100%;
}

.images-container li {
    display: block;
    float: left;
    width: 25%;
}

.food-image {
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.food-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.food-image img:hover {
    transform: scale(1.05);
    opacity: 1;
}

/*****************************************************************
Cities photo style
*****************************************************************/
.col-3 img {
    width: 100%;
}

.city-info {
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#cities-section ion-icon {
    display: inline-block;
    text-align: center;
    font-size: 130%;
    width: 30px;
    color: #00475C;
}

#cities-section {
    background-color: #e4e5d7;
}

/*****************************************************************
How to order style
*****************************************************************/

#phone-image {
    width: 90%;
}

#phone-image-container {
    padding: 1% 0 0 5%;
}

.order-step {

}

.order-step div {
    color: #7EE1FF;
    border: 2px solid #7EE1FF;
    border-radius: 150px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.order-step p {
    height: 50px;
    margin-bottom: 15%;
    padding-top: 5px;
}

.order-step:last-of-type {
    margin-bottom: 50px;
}

.store-button img {
    width: 45%;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 150px;
    transition: border 0.3s;
}

.store-button img:hover {
    border: 2px solid #7EE1FF;
    border-radius: 150px;
}

/*****************************************************************
Feedback style
*****************************************************************/
#feedback-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../images/background-feedback.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

cite {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

cite img {
    width: 50%;
    border: 2px solid #7EE1FF;
    border-radius: 50%;
    display: inline-block;
}

blockquote div:before {
    content: "\201C";
    font-size: 300%;
}

blockquote div:after {
    content: "\201D";
    font-size: 300%;
    line-height: 150%;
}

blockquote {
    font-style: italic;
    font-weight: 500;
    font-size: 120%;
    line-height: 150%;
    color: white;
}

/*****************************************************************
Contact form style
*****************************************************************/
#contact-form {
    width: 50%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
section textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e4e5d7;

}

textarea {
    height: 150px;
}

/*****************************************************************
Footer style
*****************************************************************/
footer {
    text-align: center;
    padding: 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 241, 0.7));
    color: #7EE1FF;
}

#footer-social-links {
    list-style: none;
    margin-left: 30px;
    margin-bottom: 20px;
}

#footer-social-links li {
    display: inline;
    margin-right: 30px;
    font-size: 0.8em;
}

#footer-nav {
    margin-bottom: 20px;
}

#footer-nav li,
#footer-social-links li {
    display: inline;
    padding: 10px 15px 10px 15px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: opacity 0.5s;
}

#footer-nav li:hover,
#footer-nav li:active,
#footer-social-links li:hover,
#footer-social-links li:active {
    opacity: 1;
}

#footer-nav li a {
    text-decoration: none;
    color: #7EE1FF;
    text-transform: uppercase;
}

#footer-social-links li a {
    text-decoration: none;
    color: #7EE1FF;
    text-transform: uppercase;
    font-size: 200%;
}

/*****************************************************************
Media query style
*****************************************************************/
@media only screen and (max-width: 1230px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 50%;
    }

    .button-order {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 630px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .button-order {
        margin-bottom: 20px;
    }

    #contact-form {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1070px) {

    .mobile-nav-icon {
        display: inline-block;
    }

    .mobile-nav-icon ion-icon {
        color: #7EE1FF;
    }

    #main-ul-nav {
        float: right;
        margin-top: 40px;
        display: none;
    }

    #main-ul-nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #main-ul-nav li a:link,
    #main-ul-nav li a:visited {
        display: block;
    }

    #sticky-nav #main-ul-nav li:hover,
    #sticky-nav #main-ul-nav li:active {
        border-bottom: 0;
    }
}

/*****************************************************************
Animation style
*****************************************************************/

.animation-spawn,
.animation-fadeInRight,
.animation-fadeInUp {
    opacity: 0;
}

.animation-fadeInRight {
    animation-duration: 0.5s;
}