/*****************************************************************
Common styles
*****************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 3%;
}

h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-weight: 300;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

h2:after{
    display: block;
    background-color: #7EE1FF;
    height: 2px;
    content: " ";
    width: 150px;
    margin: 30px auto 0 auto;
}

section{
    padding: 100px 0;
    clear: both;
}

.float-clearing{
    zoom: 1;
}
.float-clearing:after{
    zoom: 1;
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*****************************************************************
Header styles
*****************************************************************/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 241, 0.45)), url("../images/header-background.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#logo-image{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}
#logo-text{
    float: left;
    padding: 20px;
}

#main-ul-nav{
    float: right;
    list-style: none;
    padding: 20px;
}
#main-ul-nav li {
    display: inline;
    padding: 10px 15px 10px 15px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: opacity 0.5s, border 0.5s;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 150px;
}

#main-ul-nav li:hover,
#main-ul-nav li:active{
    opacity: 1;
    border: 1px solid #7EE1FF;
}

#logo-text a{
    letter-spacing: 5px;
}

#main-ul-nav li a,
#logo-text a{
    text-decoration: none;
    color: #7EE1FF;
    text-transform: uppercase;
}

.header-text{
    padding-top: 150px;
}
#header-title{
    color: #7EE1FF;
    margin-left: 8.33%;
    width: 30%;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.178em;
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
}

.header-buttons{
    margin-top: 20px;
    margin-left: 8.33%;
    padding: 15px;
}

nav{
    height: 70px;
    padding: 25px;
}

/*****************************************************************
Button styles
*****************************************************************/

.button:link,
.button:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #7EE1FF;
    font-weight: 300;
    border-radius: 150px;
    transition: background-color 0.3s, border 0.3s;
}

.button-order:link,
.button-order:visited{
    background: #0000F1;
    border: 1px solid #0000F1;
}
.button-menu:link,
.button-menu:visited{
    border: 1px solid #7EE1FF;
}
.button:hover,
.button:active{
    background: #0000BE;
    border: 1px solid #0000F1;
}

/*****************************************************************
Features styles
*****************************************************************/

#headline-text{
    text-align: center;
    font-size: 100%;
    margin-bottom: 20px;
}
#restaurant-description ion-icon{
    font-size: 300%;
    color: #7EE1FF;
    margin-bottom: 20px;
}

section p{
    font-size: 80%;
}
/*****************************************************************
Food images styles
*****************************************************************/


.images-container{
    list-style: none;
    width: 100%;
}
.images-container li{
    display: block;
    float: left;
    width: 25%;
}
.food-image{
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.food-image img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.food-image img:hover{
    transform: scale(1.05);
    opacity: 1;
}

/*****************************************************************
Cities photo style
*****************************************************************/
.col-3 img{
    width: 100%;
}
.city-info{
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#cities-section ion-icon{
    display: inline-block;
    text-align: center;
    font-size: 130%;
    width: 30px;
    color: #00475C;
}

#cities-section{
    background-color: #e4e5d7;
}

/*****************************************************************
How to order style
*****************************************************************/

#phone-image{
    width: 100%;
}

#phone-image-container{
    margin-left: 10%;
    transform: scale(1.2);
}

.order-step{

}

.order-step div{
    color: #7EE1FF;
    border: 2px solid #7EE1FF;
    border-radius: 150px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.order-step p{
    height: 50px;
    margin-bottom: 70px;
    padding-top: 5px;
}
.order-step:last-of-type{
    margin-bottom: 50px;
}
.store-button img{
    height: 100px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 150px;
    transition: border 0.3s;
}

.store-button img:hover{
    border: 2px solid #7EE1FF;
    border-radius: 150px;
}

/*****************************************************************
Feedback style
*****************************************************************/
#feedback-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url("../images/background-feedback.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

cite{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

cite img{
    width: 50%;
    border: 2px solid #7EE1FF;
    border-radius: 50%;
    display: inline-block;
}
blockquote div:before{
    content: "\201C";
    font-size: 300%;
}

blockquote div:after{
    content: "\201D";
    font-size: 300%;
    line-height: 150%;
}

blockquote{
    font-style: italic;
    font-weight: 500;
    font-size: 120%;
    line-height: 150%;
    color: white;
}